<div class="filter">
    <span>
        <button type="button" class="refresh-filter">Refresh</button>
    </span>
    <span>
        <input type="text" placeholder="Enter node name">
    </span>
    <span>
        <select class="states">
            <option *ngFor="let state of statesFilter" value= {{state}}>{{state}}</option>
        </select>
    </span>
    <span>
        <select class="types">
            <option *ngFor="let type of typesFilter" value= {{type}}>{{type}}</option>
        </select>
    </span>
    <span>
        <select class="groups">
            <option *ngFor="let group of groupsFilter" value= {{group}}>{{group}}</option>
        </select>
    </span>
</div>